.left{
  display: flexbox;
  width:300px;
  white-space: nowrap;
  overflow: hidden;
}
.box:focus{
  background-color: blue;
  color: white;
}
.right{
  display: flexbox;
  position: relative;
}
.leftImg {
  width: 30px;
  height: 30px;
}

.rightImg {
  width: 500px;
  height: 500px;
  box-sizing: content-box;
}
.imgCaption{
  width: 500px;
  border:none;
  text-align: center;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
html{
  height: 100%;
}
body{
  height: 100%;
}
@media screen and (max-width=600px) {
    main{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      flex-direction: column;
    }
}

